<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <delegatingHandlers>
            <delegatingHandler desc="TokenDelegatingHandler">Sitecore.Support.Services.Infrastructure.Sitecore.Security.TokenDelegatingHandler, Sitecore.Support.166698</delegatingHandler>
          </delegatingHandlers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>